{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}
<a href="/" class="btn" style="width: 170px; background-color:#A2A2FC; color: white;"> < Retour à l'accueil </a>

    <div class="container-fluid">
        <h1 class="text-center my-4">Commentaires</h1>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Contenu</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for commentaire in commentaires %}
                            <tr>
                            {# Ajout du nom de produit associé au commentaire  #}
                                <td>{{ commentaire.produitID }}</td>
                                <td>{{ commentaire.titre }}</td>
                                <td>{{ commentaire.contenu }}</td>
                                <td class="d-flex justify-content-between">
                                    <a href="{{ path('app_crud_commentaire_show', {'id': commentaire.id}) }}" class="btn" style="background-color:#A2A2FC; color: white;">Voir</a>
                                    {# Ligne commenté pour ne pas pouvoir modifer un commentaire #}
                                    {# <a href="{{ path('app_crud_commentaire_edit', {'id': commentaire.id}) }}" class="btn btn-warning">Modifier</a> #}

                                    {# import du formulaire de supression pour avoir un bouton stylisé #}
                                    <form action="{{ path('app_crud_commentaire_delete', {'id': commentaire.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">Aucun commentaire trouvé.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}