{% extends 'base.html.twig' %}

{% block title %}Commentaire {{ commentaire.produitId }} {% endblock %}

{% block body %}
<a href="{{ path('app_crud_commentaire_index') }}" class="btn" style="background-color:#A2A2FC; color: white;">< Retour à la liste</a>

<br>
    <div class="container">
         <h1 class="text-center my-4">Commentaire {{ commentaire.produitId }} </h1>
        <table class="table table-bordered">
            <tbody>

                 <tr>
                    <th>Produit</th>
                    <td>{{ commentaire.produitId }}</td>
                </tr>

                <tr>
                    <th>Id</th>
                    <td>{{ commentaire.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ commentaire.titre }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ commentaire.contenu }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            {# import du formulaire de supression pour avoir un bouton stylisé #}
            <form action="{{ path('app_crud_commentaire_delete', {'id': commentaire.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </div>
        <hr>
    </div>
{% endblock %}
