{% extends 'base.html.twig' %}

{% block title %}Liste de nos produits{% endblock %}

{% block body %}
<br>
<h2>Toutes nos références</h2><br>

<div class="container-fluid">
    <div class="row row-cols-4 justify-content-center">
        {# Boucle pour récupérer tous les produits #}
        {% for produits in produits %}
            <div class="col-md-2 mb-4">
                <div class="card h-100">
                    <img src="/img/{{ produits.image }}" alt="{{produits.nom}}" class="card-img-top h-50">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{produits.nom }}</h5>
                        <p class="card-text">{{produits.description}}</p>
                        <div class="mt-auto">
                            <a href="{{ url("produitInfo", {id: produits.id}) }}" class="btn" style="background-color:#A2A2FC; color: white;">Voir la fiche produit</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
