{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<a href="/" class="btn" style="width: 170px; background-color:#A2A2FC; color: white;"> < Retour à l'accueil </a>

    <div class="container">
        <h1 class="text-center my-4">Liste des produits</h1>
        <div class="row justify-content-center mb-3">
            <div class="col-md-8">
                <a href="{{ path('app_crud_produit_new') }}" class="btn btn-success btn-block">Ajouter un produit</a>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.image }}</td>
                    <td>{{ produit.stock }}</td>
                    <td class="d-flex justify-content-between">
                        <a href="{{ path('app_crud_produit_show', {'id': produit.id}) }}" class="btn" style="background-color:#A2A2FC; color: white;">Voir</a>
                        <a href="{{ path('app_crud_produit_edit', {'id': produit.id}) }}" class="btn btn-warning">Modifier</a>
                        <form action="{{ path('app_crud_produit_delete', {'id': produit.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce produit ?');">
                        {# import du formulaire de supression pour avoir un bouton stylisé #}
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6" class="text-center">Aucun produit trouvé.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
